<!DOCTYPE HTML>
<!--
	Stellar by HTML5 UP
	html5up.net | @ajlkn
	Free for personal and commercial use under the CCA 3.0 license (html5up.net/license)
-->

<html>

<head>
	<title>나의 키워드 - 결과분석</title>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
	<link rel="stylesheet" href="/assets/css/main.css" />
	<noscript>
		<link rel="stylesheet" href="/assets/css/noscript.css" /></noscript>
</head>

<body class="is-preload">

	<!-- Wrapper -->
	<div id="wrapper">

		<!-- Header -->
		<header id="header">
			<h1><%= Email %> 님의 결과분석</h1>
			<p>나의 <b>Top 3</b> 키워드와 매칭률을 보여줍니다.</p>
		</header>

		<!-- Main -->
		<div id="main">

			<!-- Content -->
			<section id="content" class="main">
				<!-- Top3 -->
				<section id="Top3" class="main special">
					<header class="major">
						<h2>Top 3</h2>
					</header>
					<h1><%= data[0].keyWord %>, 
						<%= data[1].keyWord %>, 
						<%= data[2].keyWord %></h1>

					<div>
						<input value="+" onclick="if(this.parentNode.getElementsByTagName('div')[0].style.display != ''){
													this.parentNode.getElementsByTagName('div')[0].style.display = '';
													this.value = '-';}
													else{
														this.parentNode.getElementsByTagName('div')[0].style.display = 'none'; 
														this.value = '+';
														}"
						 type="button" />
						<div style="display: none;">
							<section>
								<br>
								<h2>상세정보</h2>
								<h3>체크된 키워드</h3>
								<div class="table-wrapper">
									<table>
										<thead>
											<tr>
												<th>Keyword</th>
												<th>Description</th>
												<th>Clicks</th>
											</tr>
										</thead>
										<tbody>
											<% let sum = 0; for(let i in data) {%>
											<tr>
												<td><%= data[i].keyWord %></td>
												<td>&nbsp;</td>
												<td><%= data[i].cnt %></td>
											</tr>
											<% sum += data[i].cnt}; %>
										</tbody>
										<tfoot>
											<tr>
												<td colspan="2"></td>
												<td><%= sum %></td> <!--이부분은 무슨 부분인지 다시 확인할 것, 일단은 cnt의 합으로 나타내긴 했는데, %로 나타내는건가? -->
											</tr>
										</tfoot>
									</table>

								</div>


							</section>
						</div>
					</div>


				</section>
				<!-- Table -->

				<hr />
				<section id="Matching point" class="main special">
					<header class="major">
						<h2>Matching point</h2>
					</header>
					<h1><b>73%</b></h1>

					<div>
						<input value="+" onclick="if(this.parentNode.getElementsByTagName('div')[0].style.display != ''){
													this.parentNode.getElementsByTagName('div')[0].style.display = '';
													this.value = '-';}else{this.parentNode.getElementsByTagName('div')[0].style.display = 'none'; 
													this.value = '+';}"
						 type="button" />
						<div style="display: none;">
							<section>
								<br>
								<h2>상세정보</h2>
								<h3>나는 선택했지만 타인은 선택하지 않은 키워드</h3>
								<div class="table-wrapper">
									<table class="alt">
										<thead>
											<tr>
												<th>Keyword</th>
												<th>Description</th>
												<th>Clicks</th>
												<th>Clicks</th>
												<th>Clicks</th>
											</tr>
										</thead>
										<tbody>
											<tr>
												<td>Item One</td>
												<td>29.99</td>
												<td>29.99</td>
												<td>29.99</td>
												<td>29.99</td>						
											</tr>
											<tr>
												<td>Item Two</td>
												<td>29.99</td>
												<td>19.99</td>
												<td>29.99</td>
												<td>29.99</td>
											</tr>
											<tr>
												<td>Item Three</td>
												<td>29.99</td>
												<td>29.99</td>
												<td>29.99</td>
												<td>29.99</td>
											</tr>
											<tr>
												<td>Item Four</td>
												<td>29.99</td>
												<td>19.99</td>
												<td>29.99</td>
												<td>29.99</td>
											</tr>
											<tr>
												<td>Item Five</td>
												<td>29.99</td>
												<td>29.99</td>
												<td>29.99</td>
												<td>29.99</td>
											</tr>
										</tbody>
										<tfoot>
											<tr>
												<td colspan="2"></td>
												<td>100.00</td>
											</tr>
										</tfoot>
									</table>
								</div>

								<h3>나는 선택하지 않았지만 타인이 선택한 키워드</h3>
								<div class="table-wrapper">
									<table>
										<thead>
											<tr>
												<th>Keyword</th>
												<th>Description</th>
												<th>Clicsk</th>
											</tr>
										</thead>
										<tbody>
											<tr>
												<td>Item One</td>
												<td>Ante turpis integer aliquet porttitor.</td>
												<td>29.99</td>
											</tr>
											<tr>
												<td>Item Two</td>
												<td>Vis ac commodo adipiscing arcu aliquet.</td>
												<td>19.99</td>
											</tr>
											<tr>
												<td>Item Three</td>
												<td> Morbi faucibus arcu accumsan lorem.</td>
												<td>29.99</td>
											</tr>
											<tr>
												<td>Item Four</td>
												<td>Vitae integer tempus condimentum.</td>
												<td>19.99</td>
											</tr>
											<tr>
												<td>Item Five</td>
												<td>Ante turpis integer aliquet porttitor.</td>
												<td>29.99</td>
											</tr>
										</tbody>
										<tfoot>
											<tr>
												<td colspan="2"></td>
												<td>100.00</td>
											</tr>
										</tfoot>
									</table>
								</div>
							</section>
						</div>
					</div>
				</section>


				<hr />

				<footer class="major">
					<ul class="actions special">
						<li><a href="/" class="button">홈으로</a></li>
					</ul>
				</footer>
			</section>

		</div>
	<!-- Footer -->
	<footer id="footer">
			<p class="copyright">&copy; Untitled. Design:
				<a href="https://html5up.net">HTML5 UP</a>.</p>
		</footer>
		

	</div>

	<!-- Scripts -->
	<script src="/assets/js/jquery.min.js"></script>
	<script src="/assets/js/jquery.scrollex.min.js"></script>
	<script src="/assets/js/jquery.scrolly.min.js"></script>
	<script src="/assets/js/browser.min.js"></script>
	<script src="/assets/js/breakpoints.min.js"></script>
	<script src="/assets/js/util.js"></script>
	<script src="/assets/js/main.js"></script>

</body>

</html>